Hello, world!

{{ test_str }}
{{ other_str }}

<div>
  <b id="vnc-status">Debugging VNC status is unknown</b>
  <p>VNC is a security hole, as it is completely unencrypted and unprotected.  It gives anyone on the hotspot network full control of your rig.  Only enable it when you need to find out why something isn't working, and then immediately shut it off again.</p>
  <div>
    <button onclick="ToggleVnc()">Toggle VNC on/off</button>
  </div>
</div>



<script src="/js/index.js"></script>
